<div class="row">
  <div class="col-12">
      <div class="card card-stats">
          <div class="card-body">
             <form id="createVacancy">
               <div class="row ">
                <div class="col ">
                  <div class="form-group">
                      <label for="JobTitle">Job Title</label>
                      <input class="form-control" >
                  </div>
                  
                </div>
                <div class="col">
                  <div class="form-group">
                      <input class="form-check-input" type="checkbox">
                      <label for="isFresherAllowed">Can Fresher Apply</label>  
                  </div>
                  
                </div>
               </div>
               <div class="row">
                 <div class="col">
                    <div class="form-group">
                      <label for="jobLocation" >Select Job Location</label>
                      <select class="form-control">
                        <option *ngFor="let location of locations">
                          {{location}}
                        </option>
                      </select>
                    </div>
                 </div>
                  
                  <div class="col">
                      <div class="form-group">
                        <label for="qualification" >qualification</label>
                        <select class="form-control">
                          <option *ngFor="let qualification of qualifications">
                            {{qualification}}
                          </option>
                        </select>
                      </div>
                  </div>
                 </div>
                 <div class="row">
                   <div class="col">
                      <div class="form-group">
                          <label for="certifications" >Certifications</label>
                          <select  class="form-control">
                            <option *ngFor="let certificate of certifications">
                              {{certificate}}
                            </option>
                          </select>
                        </div>
                   </div>
                   <div class="col">
                      <div class="form-group">
                          <label for="skills" >Skills</label>
                          <select  class="form-control">
                            <option *ngFor="let skill of skills">
                              {{skill}}
                            </option>
                          </select>
                      </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col">
                    <div class="form-group">
                      <label for="minimumExperience">Minimum Experience</label>
                      <input type="number" maxlength="2" class="form-control">
                    </div>
                   </div>
                   <div class="col">
                      <div class="form-group">
                          <label for="maximumExperience">Maximum Experience</label>
                          <input type="number" maxlength="2" class="form-control">
                        </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col">

                   </div>
                   <div class="col">
                     <button type="submit" class="btn btn-primary" style="float: right;" (click)="addVacancy()" >Add Vacancy</button>
                   </div>
                 </div>
               
             </form>
          </div>
      </div>
  </div>
</div>
  