interviewer component
<form action="">
  <div>
    <mat-form-field>
      <input matInput placeholder="Job Title" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Autosize textarea</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Job Position" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Job Location" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Job Qualifications" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Job Certifications" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Can Freshers apply" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Minimum Experience" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Maximum Experience" type="text" />
    </mat-form-field>
  </div>
</form>
